<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright 2013 Aljoschability and others. All rights reserved.

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License v1.0 which accompanies this distribution,
	and is available at http://www.eclipse.org/legal/epl-v10.html

	Contributors:
		Aljoscha Hark <mail@aljoschability.com> - initial API and implementation
-->
<plugin>

	<extension point="org.eclipse.graphiti.ui.imageProviders">
		<imageProvider
		   class="com.aljoschability.rendis.ui.RendisImageProvider"
		   id="com.aljoschability.rendis.ui.RendisImageProvider"/>
	</extension>

   <extension point="org.eclipse.ui.newWizards">
		<wizard
		   class="com.aljoschability.rendis.ui.wizards.CreateResidenceDiagramWizard"
		   id="com.aljoschability.rendis.ui.wizard1"
		   name="Rendis DINGS">
		</wizard>
	</extension>

	<extension point="org.eclipse.ui.editors">
		<editor id="com.aljoschability.rendis.ui.editor.model"
		  class="com.aljoschability.rendis.ui.editors.RendisModelEditor"
		  contributorClass="com.aljoschability.rendis.ui.editors.RendisModelEditorContributor"
		  default="true"
		  extensions="rendis"
		  name="Rendis Model Editor"/>
		<editor id="com.aljoschability.rendis.ui.editor.diagram"
		  class="com.aljoschability.rendis.ui.editors.RendisDiagramEditor"
		  contributorClass="com.aljoschability.rendis.ui.editors.RendisDiagramEditorContributor"
		  default="true"
		  extensions="rendis_diagrams"
		  name="Rendis Diagram Editor"/>
	</extension>
</plugin>
